@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/static/Montserrat-Bold.ttf");
}
@font-face {
  font-family: Montserrat-light;
  src: url("../fonts/FontsFree-Net-SFProDisplay-Regular.ttf");
}
@font-face {
  font-family: SF Pro Display;
  src: url("../fonts/FontsFree-Net-SFProDisplay-Regular.ttf");
}
@font-face {
  font-family: SF Pro Display_bold;
  src: url("../fonts/FontsFree-Net-SFProDisplay-Heavy-1.ttf");
}

body {
  font-family: Montserrat;
}
