.box-placeholder {
  width: 126px;
  height: 19px;
  padding: 5px 28px;
  background: #595959;
  border-radius: 5px;
  border: 0px;
  outline: none;
}

.dashboard-card {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  padding: 5px 27px;
  color: #ffffff;
}
.poly-info {
  width: 10px;
  height: 10px;
  margin-left: 5px;
  margin-top: -5px;
}
